<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Autoservice</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <div><h1>Autoservice</h1></div>
    <div class="p-2">
        <a class="h2" th:href="@{/models}">List Models</a>
    </div>

    <div class="p-2">
        <a class="h2" th:href="@{/models/new}">Create Model</a>
    </div>

    <div class="p-2">
        <a class="h2" th:href="@{/brands}">List Brands</a>
    </div>

    <div class="p-2">
        <a class="h2" th:href="@{/brands/new}">Create Brand</a>
    </div>

    <div class="p-2">
        <a class="h2" th:href="@{/works}">List Works</a>
    </div>

    <div class="p-2">
        <a class="h2" th:href="@{/works/new}">Create Work</a>
    </div>

    <div class="p-2">
        <a class="h2" th:href="@{/mechanics}">List Mechanics</a>
    </div>

    <div class="p-2">
        <a class="h2" th:href="@{/mechanics/new}">Create Mechanic</a>
    </div>

    <div class="p-2">
        <a class="h2" th:href="@{/cars}">List Cars</a>
    </div>

    <div class="p-2">
        <a class="h2" th:href="@{/cars/new}">Create Car</a>
    </div>

    <div class="p-2">
        <a class="h2" th:href="@{/orders}">List Orders</a>
    </div>

    <div class="p-2">
        <a class="h2" th:href="@{/orders/new}">Create Order</a>
    </div>

    <div class="p-2">
        <a class="h2" th:href="@{/users}">List Users</a>
    </div>

    <div class="p-2">
        <a class="h2" th:href="@{/users/new}">Create user</a>
    </div>
</div>
</body>
</html>