<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >-->
<head>
    <meta charset="UTF-8">
    <title>List Cars</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <div><h1>Cars List</h1></div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Color</th>
                <th>Year</th>
                <th>Order ID</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="car : ${listCars}">
                <tr>
                    <td>[[${car.id}]]</td>
                    <td>[[${car.color}]]</td>
                    <td>[[${car.year}]]</td>
                    <td>[[${car.order.id}]]</td>
                    <td>
<!--                        <a th:href="@{'/orders/edit/' + ${order.id}}">Edit</a>-->

                        <a th:href="@{'/cars/delete/' + ${car.id}}">Delete</a>
                    </td>
                </tr>
                <th:block/>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>